

body {
	font-size: 0.8em;
	font-family: 'Handlee', cursive;
}

body section {
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h3 {
	font-size: 1.3em;
}


/*=====================>
HEADER
=======================>*/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;

}

#logo {		/*	TODO: G�R LOGGABILDEN LITE MINDRE S� TEXTEN BLIR ST�RRE, DVS KAPA WHITESPACE*/
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	}

a {
	text-decoration: none;
	}


/*=====================>
NAVIGATION
=======================>*/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px,0,0;
	font-family: 'Short Stack', sans-serif;
	z-index: 3;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-size: 1.3em;
	padding: 15px 10px;
}

/*=====================>
FOOTER
=======================>*/

html, body {
	height: 100%;
	padding-bottom: -90px;
}

#wrapper {
	min-height: 100%;
}

footer {
	position: relative;
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	clear: both;
	/*margin-top: -100px;		- moved to responsive, messed up mobile version and hid content*/
	height: 90px;
}

footer.noscroll {
	margin-top: -100px;
}

footer img.social-icon {
	display: inline-block;
	padding: 5px;
	max-width: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30%;
}

/*=====================>
PAGE: HOME
=======================>*/


#home-wrapper img {
	border-radius: 40%;
}




/*=====================>
PAGE: CONTACT
=======================>*/


#primary {
	max-width: 60%;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	background-color: #b8d2d0;
	margin-bottom: 10px;
}

#secondary {
	text-align: center;
	max-width: 50%;
	padding: 5px 2px 5px 2px;
	margin-right: auto;
	margin-left: auto;
}

#kontakt {
	text-align: left;
	border: 1px solid black;
	background-color: #bfe2d0;
	margin-bottom: 10px;
}


#kontakt img {
	max-width: 15px;
	padding: 0 3px 0 0;
}


.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	line-height: 30px;
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 5px;
	margin: 0 0 10px;
}

#tfnikon {
	border-radius: 60%;
}

/*=====================>
PAGE: TOUR
=======================>*/

table {
	max-width: 80%;
	min-width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

table, th, td {
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background-color: #bfe2d0;
}

tr:nth-child(even) {
	background-color: #b8d2d0;
}

img.icon {
	max-width: 20px;
}


/*=====================>
PAGE: MEDIA
=======================>*/

/* YouTube Responsive CSS for HubSpot */

.youtube {

margin: 10px 8px 10px 8px;
clear: both;
position: relative;
padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
padding-top: 25px;
height: 0;

}

.youtube iframe {

position: absolute;
top: 0;
left: 0;
width: 100%!important;
height: 100%!important;

}

/* Slideshow comes next: */

/* Container */
.slideshow-container {
	max-height: 20%;
	max-width: 95%;
	position: relative;
	margin: auto;
}

/* Styla bilderna lite.. kunde bara komma �t detta med den n�rmaste klassen dvs fade? */
/*.fade img {
	border-radius: 10%;
}
edit 20160828, helt obegripligt varfor detta gjordes*/


/* Next and previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s easy;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Hover over button gives color */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Bullets at the bottom */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s easy;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animatoin */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*=====================>
COLORS
=======================>*/


a, a:visited {
	color: #434343;
}

nav a.selected, nav a:hover {
	color: #808080;
}

footer {
	background-color: #808080;
	color: #dadada;
}
