@media screen and (min-width: 480px) {


	body {
		font-size: 1em;
	}

/*=====================>
TWO COLUMNS!
=======================>*/

/* mest contactsidan */
	#primary {
		max-width: 56%;
		float: left;
		margin: 0 0 10px 10px;
	}

	#allman h3 {		/*denna skulle kunnas l�gga innanf�r primary som jag gjort med secondary*/
		text-align: left;
		padding: 0 0 0 18%;
	}

	#secondary {
		max-width: 40%;
		float: right;
		margin: 0 10px 0 0;
	}


}


/*=====================>
PAGE: TOUR COLUMNS
=======================>*/

@media screen and (min-width: 660px) and (max-width: 920px) {

	table {
		max-width: 100%;
	}

	td, th {
		padding: 4px;
	}

	#kommande {
		max-width: 49%;
		min-width: 45%;
		float: left;
		margin: 0 0 10px 8px;
	}

	#spelade {
		max-width: 49%;
		min-width: 45%;
		float: right;
		margin: 0 8px 0 0;
	}

	footer {
		margin-top: -100px;		/* messes up mobile version for some reason when scrolling needed*/
	}

}



@media screen and (min-width: 920px) {

	body {
		font-size: 1.1em;
	}

	/* HEADERN P� V�NSTRA SIDAN*/
	header {
		top: 0;
		left: 0;
		width: 45%;
		position: absolute;
		z-index: 3;
	}

	footer {
		margin-top: -100px; /* see above */
	}


/*=====================>
PAGE: HOME
=======================>*/

	#mitten {
		padding-left: 45%;
		}

	#mitten img {
		display: block;
		width: 85%;
	}

/*=====================>
PAGE: TOUR
=======================>*/

	#tour-body {
		padding-left: 45%;
	}


/*=====================>
PAGE: CONTACT
=======================>*/

	#contact-body {
		padding-left: 45%;
	}

/*=====================>
PAGE: MEDIA
=======================>*/

	#mediawrapper header {
		position: relative;
		float: left;
		width: 45%;
		display: block;
		margin-top: 5px;
	}

	#mediawrapper .slide-big-container {
		display: block;
		float: right;
		width: 46%;
		margin-top: 20px;
		margin-right: 1.7%;
	}


	.vid1 {
		width: 49%;
		float: left;
		margin-top: 11.5%;
	}

	.vid2 {
		width: 49%;
		float: right;
		margin-right: 7px;
	}



}
